* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}
p {
  margin: 0;
  margin-bottom: 0.5rem;
}

hr {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef17;
}
main {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 54px);
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.bottomNavBar {
  background-color: #4717f6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem 0.25rem;
}
.bottomNavBar .nav-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.divided-view {
  display: flex;
  flex-direction: column-reverse;
}

.form-view {
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}
.view {
  flex: 1;
}

.login-imageview {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7dfdd;
  padding: 2rem;
}

@media (min-width: 412px) {
  .divided-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100vh;
  }
  .form-view {
    width: 500px;
    height: 100vh;
    padding: 2rem;
  }
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.input-group label {
  font-size: 1.1rem;
}
.input {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

.btn {
  text-transform: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  width: fit-content;
  color: rgba(0, 0, 0, 0.7);
}

.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  background-color: #4717f6;
  color: #fff;
}

.btn-block {
  width: 100%;
}

@media (min-width: 412px) {
}
.appbar {
  padding: 1rem;
}

.desafio {
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto 2rem auto;
}
.content {
  padding: 1rem;
}
.desafio-descricao {
  margin: 1rem 0;
}
.desafio-titulo {
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.75rem;
}
.desafio-autor {
  font-weight: 300;
  text-align: right;
}

.dates {
  margin-top: 2rem;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.video-overlay {
  background-size: cover;
  background-position: center;
  display: flex;
  background-color: rgba(0,0,0, 0.3);

}
