*{
  font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}
button{
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  margin-bottom: 0.5rem;
}

hr {
  height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef55;
}
.text-container{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.divided-view{
  display: flex;
  flex-direction: column-reverse;
}

.form-view{
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.view{
  flex: 1;
}

.login-imageview{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeb007a;
  padding: 2rem;
}

@media (min-width: 412px){
  .divided-view{
    display: flex;
    flex-direction: row;
  }
  .form-view{
    width: 500px;
    height: 100vh;
    padding: 2rem;
  }
}

.image-fluid{
  max-width: 100%;
  height: auto;
}

.form-group{
  display: flex;
  flex-direction: column;
}
.input-group{
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.input-group label{
  font-size: 1.1rem;
}
.input{
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-size: 1.1rem;
}
.btn{
  text-transform: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem ;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  width: fit-content;
  color: rgba(0, 0, 0, 0.7);
}
.btn-primary{
  background-color: #9c27b0;
  color: #fff;
}
.btn-block{
  width: 100%;
}